// Variable overrides

$color-green: #224021;

$color-green-v2: #35402D;

$color-green-v3: #5F8C4A;

$color-primary: #f1f1ec;

$color-meta: #939598;

$color-black: #000000;

$color-dark: #182428;

$color-dark-alter: #1b1a1a;

$color-dark-text: #ffffff;